.subheader
	background-color: #F8F3F4
	display: flex

	justify-content: space-between
	height: 148px

	&__left
		height: 100%
		display: flex
		align-items: center

	&__right
		height: 100%
		display: flex
		align-items: center

	&__caption
		+font(24px, 29px, 400)
		color: $mainColor

	&__path,
	&__path a
		+font(14px, 17px, 400)
		color: #636363

	&__path span
		color: $mainColor

.filter
	height: 132px
	display: flex
	align-items: center

	&__item
		height: 100%
		display: flex
		align-items: center
		justify-content: start
		width: calc(100% / 3)
		position: relative

		&-icon
			height: 10px
			width: 15px
			fill: blue

			&:hover
				fill: red

		&-caption
			padding-right: 11px
			position: relative
			font-weight: 600

			& img
				position: absolute
				left: 50px
				top: 0px

			&::after
				content: none

		&-name
			padding: 7px 17px
			margin-top: 17px
			margin-bottom: 29px
			border-left: 5px solid $mainColor
			border-bottom: 1px solid #BBBBBB

	&__caption
		padding: 0 16px
		color: $lightTextColor

		&:hover
			color: $mainColor
			cursor: pointer

		&-first
			padding: 13px 16px 24px 0px
			color: $lightTextColor

		&[open]
			padding-top: 15px
			position: absolute
			top: 45px
			left: 0
			width: 328px
			background-color: $invertColor
			box-shadow: 0 0 30px $shadowColor
			z-index: 2

			& li
				padding: 0 0 11px 10px
				color: $lightTextColor

				& span
					padding-left: 10px
						// padding-right: 20px

		& a
			color: $lightTextColor

			&:hover
				color: $mainColor

		&-size
			position: static
			padding: 0

			& li
				padding: 5px 0

			&[open]
				position: relative
				width: 79px
				top: 50px
				background-color: $invertColor
				box-shadow: 0 0 30px $shadowColor
				z-index: 2

summary::-webkit-details-marker
	display: none

summary::after
	padding-left: 9px
	content: url(../images/product/arrow.png)

.catalog__product
	margin-top: 0

	&-items
		margin-top: 0px

.paginator
	margin: 18px auto 0
	display: flex
	align-items: center
	justify-content: space-around
	width: 282px
	height: 43px
	border: 1px solid $shadowColor

	&__page
		color: $shadowColor
		text-decoration: none

		&:hover
			color: #000
			font-weight: bold
			transition: all ease 500ms

		&.active
			color: $backgroundColor
