@media only screen and (max-width: 1139px)
	.center
		padding: 0
	.header
		width: 100vw
		padding: 0 32px

	.promo
		height: 367зч

		&__center
			padding-left: none

			/* padding-right: calc(50% - 800px)  */
		&__left img
			height: 100%
