@media  (max-width: 1139px)
	.center
		padding: 0
	.header
		width: 100vw
		padding: 0 32px

	.promo
		padding: 0
		height: 370px
		flex: 1 1

		&__center
			padding-left: none

			/* padding-right: calc(50% - 800px)  */

		&__left
			// flex-grow: 1

			& img
				object-fit: contain
				height: 100%
				width: 100%

		&__right
			// flex-grow: 1
			height: 100%
			justify-content: center
			padding-left: 40px

		&__caption
			padding-left: 16px
			// height: 100%

			&-title
				+font(44px, 53px, 900)

			&-text
				+font(24px, 29px, 700)

	.catalog
		margin-top: 20px
		column-gap: 20px
		&-box
			padding: 0 16px
		& img
			// height: 167px

		&__item
			width: 33.333%

		&__item, &__big

		&__item-caption

		&__big
			width: 100%
			margin-top: 20px

			& img
				width: 100%

			&::after
				content: none

		&__p

		&__h3

	.product
		margin-top: 154px
		padding: 0 16px
		& p

		&__caption h4

		&__caption p

		&__items
			margin-top: 74px
			column-gap: 16px
			justify-content: space-around
		&__item

			&:hover

			&:hover &-img

			&-img

				&::after

			&-caption

				&:hover

			&-text

			&-price

				+font(16px, 19px, 300)

		&__item:hover &__cart-add

		&__cart-add

			&:hover

		&_mb
			margin-bottom: 16px

	.footer
		margin-top: 65px
		width: 100%

		&__top
			height: 610px
			padding: 48px 0 64px
			flex-direction: column

			&-item

			&-h4

			&-text

		&__main
			height: 614px
			flex-direction: column
			align-items: center
			padding-top: 54px
			padding-bottom: 140px

			&-left, &-right
				height: auto

			&-right
				width: 570px

			&-p

			&-title

			&-title span

			&-input

			&-button

				&:hover

		&__buttom
			padding: 0 32px

			&-left

			&-right

			&-right a

			&-nets

			&-link

			&-link:hover

			&-link:hover &-nets
				// filter: invert() 

	.subheader
		padding: 0 16px

	.filter
		justify-content: space-between
		height: 66px
		padding-left: 16px

		&__item
			width: 50%
			&-none
				display: none

			&-second
				justify-content: flex-end

	.catalog__product
		margin-top: 16px

		&-items
			margin-top: 0px

	.paginator
		margin: 24px auto 64px

	.slider
		height: 624px
		& img
			height: 100%

	.description
		margin: 0 auto
		width: 100vw
		height: 600px

		&__text
			width: 100%
			padding: 0 24px
