.product__cart-add{
	position: static;
	top: 188px;
	left: 111px;
	align-items: center;
	justify-content: space-around;
	margin-top: 18px;
	display: inline-block;
	font-size: 16px;
	line-height: 47px;
	height: 47px;
	width: 211px;
	border: 1px solid #FF6A6A;
	color: #F26376;
}



.product__cart-add img{
	fill: #FF6A6A;;
}

.product__cart-add:hover{
	box-shadow: 0 0 5px #fff;
	filter: invert();
}